.womenNav {
    height: 80px;
    width: 100%;
    background: #927053;
    color: #5B3826;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0 2rem; */
    font-size: 1.2rem;
}

.wList {
    height: 80px;
    width: 100%;
    background: #927053;
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 2rem; */
    font-size: 1.2rem;
    transition: all 5s;
      -webkit-transition: all 2s;
}

.womenNavStuff {
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

#hiddensW {
    display: flex;
}

.womenNavStuff:hover {
    color: #5B3826;
}

.menusW {
    cursor:default;
    display: none;
    color: white;
    margin-right: 40px;
    height: 100px;
    width: 300px;
    font-size: x-large;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.menusW:hover {
    color: blue;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }


  
  @media screen and (max-width: 850px) {
      .wList {
          font-size: 15px;
          color: white;
          display: flex;
          position: absolute;
        }
    }
    
    @media screen and (max-width: 750px) {
        .menusW {
            display: flex;
            
        }
        
        
        .wList {
            display: none;
            color: white;
            align-items: center;
            
            /* display: flex; */
        }
        #hiddensW {
            position: absolute;
            left: 30px;
            top: 60px;
            height: 230px;
            max-height: 220px;
            width: 100.7%;
            background-color: #927053;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        
        #hiddensW {
            position: absolute;
            left: 0px;
            top: 100px;
            height: 300px;
            max-height: 300px;
            width: 100.7%;
            background-color: #927053;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        #hiddensW ul {
            margin: 10px;
            position: absolute;
            color: black;
            display: block;
            list-style: none;
            transition: all 0.5s ease-out;
            /* top: 75px; */
            /* color: white; */
            font-size: 25px;
        }
    }
    
    .brandW {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    
    .nameW {
        color: #5B3826
    }
    
    .priceW {
        font-style: italic;
    }

    .theSectionW {
        margin-top: 20px;
        max-width: 2000px;
        margin: 2px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    @media(max-width:1000px) {
        .theSectionW {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(max-width: 700px) {
        .theSectionW {
            grid-template-columns: 1fr;
        }
    }

    img {
        width: 25%;
        background-size: cover;
        background-position: center;
    }

    .productContainerW {
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        background-color: #F7D9EE;
        border: 2px solid #927053;
        /* display: flex;
        flex-wrap: wrap;
        margin: 3px;
        border: 2px solid blue;
        height: auto;
        width: auto;
        /* float: left; */
        /* text-align: center; */
    }

    .buttonW {
        outline: none;
        background: black;
        color: white;
        padding: 10px 15px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        border-radius: 5px;
        font-size: 16px;
        margin: 10px 0;
    }

    .buttonW:hover {
        background-color: #927053;
        color:#F7D9EE;
        
    }

    .categoriesW {
        /* max-width: 1200px;
        display: flex;
        margin: 40px auto;
        height: 40px;
        flex-wrap: wrap; */
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: auto;
    }
    
    .categoryItemsWw {
        flex-grow: 1;
        min-width: 100%;
        border: 1px solid white;
        box-sizing: border-box;
        height: 850px;
        background-size: cover;
        background-position: center;
    }
    
    .categoryItemsW {
        flex-grow: 1;
        min-width: 50%;
        border: 1px solid white;
        box-sizing: border-box;
        height: 800px;
        background-size: cover;
        background-position: center;
    }
    
    @media screen and (max-width: 1000px) {
        .categoryItemsW {
            min-width: 50%;
        }
    }
    
    @media screen and (max-width: 800px) {
        .categoryItemsW {
            min-width: 100%;
        }
    }